@media only screen and (max-width: 450px) {
  .photographer {
    display: none;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .app--container {
    top: 0;
    left: 0;
    position: relative;

    height: 100%;
    width: 100%;

    border-radius: 0;
  }

  .current--weather img {
    width: 100px;
  }

  .details--weather li {
    min-width: 100px;
    max-width: 100px;
    min-height: 80px;

    font-size: 1rem;

    padding: 5px;

    margin: 0 10px;
  }
}
