@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://use.typekit.net/xuf0pjv.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #111111;
  --highlight-text-color: #535353;
  --light-text-color: #cccccc;
}

body {
  background-image: url(images/01d.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: calc(var(--vh, 1vh) * 100);

  font-family: "Open Sans";
  color: var(--main-text-color);

  transition: all 0.5s;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* APP */

.app--container {
  position: absolute;
  top: 40px;
  left: 40px;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  height: 835px;
  width: 450px;

  border-radius: 50px;

  -webkit-box-shadow: 35px 46px 59px 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 35px 46px 59px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 35px 46px 59px 12px rgba(0, 0, 0, 0.2);

  background: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border: 1px solid rgba(255, 255, 255, 0.089);
}

.app--container::-webkit-scrollbar {
  display: none;
}

.start-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 2;
  position: absolute;

  width: 100%;
  height: 100%;

  background: rgba(214, 213, 213, 0.315);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);

  opacity: 1;

  transition: all 1s;
}

.start-up img {
  -webkit-animation: heartbeat 5s ease-in-out infinite both;
  animation: heartbeat 5s ease-in-out infinite both;

  cursor: pointer;
}

.start-up h1 {
  position: absolute;
  font-family: moret;
  font-weight: 700;
  font-size: 4rem;
  top: 10%;
}

.start-up p {
  transition: all 1s;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.title {
  padding: 10px 0;
  opacity: 0;
  transition: all 1s;

  font-family: moret;
  font-weight: 300;
}

.current--weather {
  max-height: 40%;
  min-width: 100%;

  padding: 20px 0;

  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  transition: all 2s;
}

.current--weather img {
  width: 150px;
}

.current-temp--description {
  font-size: 2.5rem;
  font-family: moret;
  font-weight: 700;
}

.current-temp--text {
  font-size: 3rem;
  font-family: moret;
  font-weight: 700;

  margin-top: -10px;
}

/* Next 24 Hours/ 7 Days */

.next--weather {
  text-align: center;

  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

  opacity: 0;

  transition: all 2s;
}

.next--weather ul {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;

  overflow-x: auto;

  margin-left: 10px;
}

.next--weather li {
  min-width: 80px;
  max-height: 80px;
  padding: 5px;
  border-radius: 20px;
  margin: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: rgba(209, 209, 209, 0.267);
}

.next--weather ul::-webkit-scrollbar {
  display: none;
}

.text-hour {
  font-size: 0.75rem;
}

span {
  opacity: 0.5;
}

/* Details */

.details--weather {
  height: 25%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  opacity: 0;

  transition: all 1s;

  margin: -10px 0;
}

.details--weather ul {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-around;

  overflow-x: auto;
}

.details--weather li {
  width: 120px;
  height: 90px;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: rgba(209, 209, 209, 0.267);
}

.details-title {
  font-size: 0.75rem;
  opacity: 0.5;
}

.photographer {
  font-family: moret;
  font-weight: 300;

  width: auto;
  height: auto;

  padding: 20px;

  position: absolute;

  bottom: 40px;
  right: 40px;

  border-radius: 60px;

  -webkit-box-shadow: 35px 46px 59px 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 35px 46px 59px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 35px 46px 59px 12px rgba(0, 0, 0, 0.2);

  background: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border: 1px solid rgba(255, 255, 255, 0.089);
}

/* Mobile Styles */

@media only screen and (max-width: 450px) {
  .photographer {
    display: none;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .app--container {
    top: 0;
    left: 0;
    position: relative;

    height: 100%;
    width: 100%;

    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
  }

  .current--weather img {
    width: 100px;
  }

  .details--weather {
    height: 30%;
  }

  .details--weather li {
    min-width: 100px;
    max-width: 100px;
    height: 80px;

    font-size: 1rem;

    padding: 5px;

    margin: 5 5px;
  }
}
